body {
  font-size: 2.875rem;
}

#container {
  background-color: #5d5d61;
}

#login {
  float: right;
  margin-top: 15px;
}

#register {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

#logo {
  float: left;
  margin-top: 10px;
}

#title {
  color: white;
}

#list {
  justify-content: center;
  display: flex;
}

#searchBar{
  width: max-content;
  margin: auto;
}

.card {
    width: 50rem;
    height: auto;
}

.card-title {
    font-size: 60px
}
